.hidden {
    display: none;
}

@font-face {
    font-family: "Felix Titling";
    src:
      url("../fonts/FelixTitling.otf") format("opentype"),
      url("../fonts/FelixTitling.woff") format("woff"),
      url("../fonts/FelixTitling.woff2") format("woff2");
  }

  
body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Felix Titling', serif;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    background: #096773;
    height: 90px;
    display: flex;
}

h1 {
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* City Backdrop */

.background {
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0px 5px;
}

#background {
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    border: 5px solid #096773;
    position: relative;
}

/* Styling for Dropped Images */

.background img {
    width: auto;
    height: auto;
    position: absolute;
}

.background #person {
    height: 60px;
}

.background #plane {
    height: 60px;
}

.background #ambulance {
    height: 80px;
}

.background #car {
    height: 55px;
}

.background #rain {
    height: 70px;
}

.background #bird {
    height: 30px;
}

.background #construction_worker {
    height: 60px;
}

/* Drag-n-Drop Images */

.images {
    margin: 10px 5px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-row-start: 3;
    grid-row-end: 4;
}

.images img {
    max-height: 100%;
    margin: 0 auto;
}

.image-con {
    background-color: #5DC5D2;
    border-radius: 10px;
    border: 5px solid #096773;
    width: 85px;
    height: 85px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-flex;
    margin-bottom: 10px;
}

/* Music Mixer Controller */

.controller {
    background-color: #5DC5D2;
    border-radius: 10px;
    border: 5px solid #096773;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 15px 5px;
    padding: 10px; 
    position: relative;
}

.controller h2 {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 10px;
}

.controller h3 {
    display: none;
}

.controller img {
    height: 15px;
    width: 15px;
    background-color:#096773;
    padding: 8px;
    border-radius: 10px;  
    margin-left: 2px;
    margin-right: 0px;
    margin-top: 4px;
}

#controls-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#controller-con {
    margin-left: 0px;
    margin-top: 0px;  
}

/* Slider Container */

#slider-con {
    height: 10px;
    width: 100px;
    background-color: #096773;
    padding: 10px;
    border-radius: 10px;  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

#slider {
    width: 100px;
}

/* FOOTER */

footer {
    background: #096773;
    height: 90px;
    margin-top: auto;
    width: 100%;
}

@media screen and (min-width: 500px) { 

    .controller h3 {
    display: block;
    font-size: 14px;
    margin-left: 5px;
    }
}
/* Tablet Styling */

@media screen and (min-width: 768px) { 

    h1 {
        font-size: 30px;
    }

    .background {
        margin: 0px 10px;
    }

    
    .images {
        margin: 15px 10px;
    }

    .image-con {
        width: 89px;
        height: 89px;
        margin-bottom: 0px;
    }

    .controller {
        margin: 20px 10px;
        padding: 20px;
    }

    .controller h2 {
        font-size: 20px;
        margin-left: 20px;
        position: absolute;
        left: 10px;
    }
    
    .controller h3 {
        display: block;
        font-size: 20px;
        padding: 0px 20px;
        position: absolute;
        right: 10px;
    }

    .controller img {
        height: 20px;
        width: 20px;
        padding: 10px;
    }

    #controller-con {
        margin-left: 0px;
        margin-top: 0px;
    }
    
    #slider-con {
        width: 160px;
        padding: 15px;
    }

    #slider {
        width: 150px;
    }
    
}

/* Desktop Styling */

@media screen and (min-width: 1200px) { 

    header {
        height: 125px;
    }
    
    h1 {
        font-size: 40px;
    }

    .background {
        margin-left: 60px;
        margin-right: 20px;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    #background {
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .background #person {
        height: 60px;
    }
    
    .background #plane {
        height: 60px;
    }
    
    .background #ambulance {
        height: 80px;
    }
    
    .background #car {
        height: 55px;
    }
    
    .background #rain {
        height: 70px;
    }
    
    .background #bird {
        height: 30px;
    }
    
    .background #construction_worker {
        height: 60px;
    }

    .images {
        margin-left: 60px;
        margin-top: 0px;
        margin-bottom: 40px;
        margin-right: 20px;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .image-con {
        width: 107px;
        height: 107px;
    }
    
    .controller {
        flex-direction: column;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 40px 60px 40px -30px;
    }
    
    .controller h2 {
        font-size: 22px;
        position: absolute; 
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 20px;
    }
    
    .controller h3 {
        font-size: 22px;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        bottom: 20px;
    }
    
    .controller img {
        height: 20px;
        width: 20px;
        margin-top: 5px;
        margin-left: 0px;
        display: flex;
    }

    #controls-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    
    #slider-con {
        height: 157px;
        width: 20px;
        padding: 10px;
        margin-top: 5px;
    }

    #slider {
        width: 147px;
        transform: rotate(270deg);
    }
    
    footer {
        height: 125px;
    }
 
}
