.hidden {
    display: none;
}

@font-face {
    font-family: "Felix Titling";
    src:
      url("../fonts/FelixTitling.otf") format("opentype"),
      url("../fonts/FelixTitling.woff") format("woff"),
      url("../fonts/FelixTitling.woff2") format("woff2");
  }

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Felix Titling', serif;
    color: white;
    max-width: 1200px;
    border: 5px solid #096773;
}

/* HEADER */

header {
    background: #096773;
    height: 125px;
    display: flex;
}

h1 {
    margin: 0 auto;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN CONTENT */


.main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.left-content {
    display: flex;
    flex-direction: column;
}

/* City Backdrop */

.background {
    width: 862px;
    height: 345px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 75px;
    border-radius: 10px;
    border: 5px solid #096773;
    box-sizing: border-box;
    position: relative;
}

/* Styling for Dropped Images */

.background img {
    width: auto;
    height: auto;
    position: absolute;
}

.background #person {
    height: 60px;
}

.background #plane {
    height: 60px;
}

.background #ambulance {
    height: 80px;
}

.background #car {
    height: 55px;
}

.background #rain {
    height: 70px;
}

.background #bird {
    height: 30px;
}

.background #construction_worker {
    height: 60px;
}

/* Drag-n-Drop Images */

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 75px;
}

.images img {
    max-height: 100%;
    display: flex;
    margin: 0 auto;
}

.image-con {
    background-color: #5DC5D2;
    border-radius: 10px;
    border: 5px solid #096773;
    width: 107px;
    height: 107px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

/* Music Mixer Controller */

.controller {
    background-color: #5DC5D2;
    border-radius: 10px;
    border: 5px solid #096773;
    width: 172px;
    height: 470px;
    margin-right: 75px;
    box-sizing: border-box;
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; 
}

.controller h2 {
    font-size: 22px;
    margin-bottom: 10px; 
}

.controller h3 {
    font-size: 12px;
}

.controller img {
    height: 20px;
    width: 20px;
    background-color:#096773;
    padding: 10px;
    border-radius: 10px;  
    margin: 5px;
    display: flex;
}

#controller-con {
    margin-left: 80px;
    margin-top: 20px;
}

/* Slider Container */

#slider-con {
    height: 20px;
    background-color: #096773;
    padding: 10px;
    border-radius: 10px;  
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(270deg);
}


/* Controller Text Container */
#controller-text-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


/* FOOTER */

footer {
    background: #096773;
    height: 125px;
    margin-top: 75px;
}